body {
    background: #100408;
}

.container {
    background: #fff;
    border-left: 0.5em solid #CFBE86;
    border-right: 0.5em solid #CFBE86;
}

h1, h2, h3 {
    color: #100408;
}

a, a:hover, a:visited {
    color: #100408;
}
