p {
    font-size: 140%;
}

h1, h2, h3 {
    font-family: "Warnock Pro",
                 "Goudy Old Style",
                 "Palatino",
                 "Book Antiqua",
                 "Georgia",
                 "DejaVu Serif",
                 serif;
    text-transform: uppercase;
    font-weight: lighter;
}

h2 {
    font-style: italic;
}
